html {
    display: flexbox;
    font-size: 30px;
    letter-spacing: 1.5px;
    scroll-behavior: smooth
}


div#header {
    border-bottom: 2px solid white;
    margin-bottom: 30px;
    width: 100%; /* Full width of the content area */
    padding: 12px 0px 20px 0px

}
div#logo a {
    color: white;
    text-align: left;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none
}
div#header #navigation {
    text-align: right;
    float: right
}

div#header #navigation a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;

    text-decoration: none;
    text-transform: uppercase
}
body {
    background-color:#000000;
    color: #eee;
    font-family: Lato;
    font-size: 16px;
    margin: 2em auto;
    max-width: 1000px;
    padding: 1em;

}
footer {
    margin-top: 10px;
    border-top: 2px solid white;
}

div#container{
    display: flex;
    justify-content: space-around; 
    align-items: center; /* Center items vertically */

    position: relative;

    flex-direction: row;
    max-width: 100%;


}


    #globe-container, #text-box {
        width: 100%; /* Full width on smaller screens */
        max-width: none;
        padding: 10px;
    }
    #text-box {
        padding-top: 10%;
        color: white;
        font-size: 1.5em;
        text-align: left;
   
        top: 50%;
        left: 50%;
      
        width: 50%;
    }
 html a:red{
    color: #b00000
 }
 span#blue{
    color: #03f
 }
 html a:maize{
    color: #ffcb05
 }