<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
  <div class="wrapper">
          <div id="header">
            <div id="logo">
              <a href="/index.html">Garv Patel</a>
            </div>
            <div id="navigation">
              <a href="/blog/">Blog</a>
              <a href="/projects.html">Projects</a>
              <a href="/contact.html">Contact</a>
            </div>
          </div>

    <main class="intro">
      <h1>{{ .Title }}</h1>

      {{ range .RegularPages }}
        <article class="post-preview">
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          <small>{{ .Date.Format "January 2, 2006" }}</small>
          <p>{{ .Summary }}</p>
        </article>
      {{ else }}
        <p>No posts yet!</p>
      {{ end }}
    </main>
  </div>
</body>
</html>
