html {
    display: block;
    font-size: clamp(16px, 2.3vw, 20px);
    letter-spacing: 0px;
    scroll-behavior: smooth;
    font-family: "Georgia", "Times New Roman", serif;
}
.jetbrains-mono-100 {
    font-family: "Georgia", "Times New Roman", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

div#header {
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-bottom: 30px;
    width: 100%; /* Full width of the content area */
    padding: 12px 0px 30px 0px
}
div#logo a {
    color: rgb(0, 0, 0);
    text-align: left;
    float: left;
    font-size: 20px;
    font-weight: 1000 !important;
    font-stretch: extra-condensed;

    font-family: "JetBrains Mono", "Courier New", monospace;
    text-decoration: none;
}
div#header #navigation {
    text-align: right;
    float: right
}

div#header #navigation a {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    margin-left: .5rem;

    font-family: "JetBrains Mono", "Courier New", monospace;
    text-decoration: none;

}
body {
    background-color:#f5ebe0;
    color: #000000;
    font-family: "Georgia", "Times New Roman", serif;
    font-stretch: extra-condensed;
    line-height: 1.45;
    font-size: 1rem;
    margin: 1.5rem auto;
    max-width: 820px;
    padding: 1rem 1.25rem;

}
footer {
    margin-top: 10px;
    border-top: 2px solid white;
}

div#container{
    display: flex;
    justify-content: space-around; 
    align-items: center; /* Center items vertically */

    position: relative;

    flex-direction: row;
    max-width: 100%;


}

.wrapper {
    max-width: 650px;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
 .home-pic {
    max-width: 75%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
 html a:red{
    color: #b00000
 }
 span#blue{
    color: #03f
 }
 html a:maize{
    color: #ffcb05
 }

/* Mobile Responsive Styles */
@media screen and (max-width: 768px) {
    html {
        font-size: 16px;
        letter-spacing: 0.1px;
    }

    body {
        font-size: 16px;
        margin: 1rem auto;
        padding: 0.75rem 1rem;
        max-width: 100%;
    }

    .wrapper {
        max-width: 100%;
        padding: 1rem 0.75rem;
    }

    div#header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 12px 0px 20px 0px;
        margin-bottom: 20px;
    }

    div#logo {
        width: 100%;
        margin-bottom: 12px;
    }

    div#logo a {
        float: none;
        font-size: 18px;
        display: block;
    }

    div#header #navigation {
        float: none;
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    div#header #navigation a {
        font-size: 16px;
        margin-left: 0;
        padding: 8px 0;
        display: block;
        min-height: 44px; /* Minimum touch target size */
        line-height: 28px;
    }

    .home-pic {
        max-width: 100%;
        margin: 1rem auto;
    }

    .intro p {
        margin-bottom: 1rem;
        line-height: 1.6;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 14px;
    }

    body {
        font-size: 14px;
        padding: 0.5em;
    }

    .wrapper {
        padding: 0.75rem 0.5rem;
    }

    div#logo a {
        font-size: 16px;
    }

    div#header #navigation a {
        font-size: 14px;
    }

    .home-pic {
        max-width: 100%;
    }
}

/* Ensure images don't overflow on mobile */
img {
    max-width: 100%;
    height: auto;
}
