<html>
    
    <head>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <meta charset="utf-8">
        <title>{{ .Site.Title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">

        
    </head>
    
    <body>
        <div class="wrapper">
      
          <div id="header">
            <div id="logo">
              <a href="/index.html">Garv Patel</a>
            </div>
            <div id="navigation">
              <a href="/blog.html">Blog</a>
              <a href="/projects.html">Projects</a>
              <a href="/contact.html">Contact</a>
            </div>
          </div>
          <div class="banner">
            <img src="/assets/images/ducks.JPG" alt="A picture of me"  class = "home-pic"/>
          </div>
      
          <div class="intro">

            <p>
              Currently studying Computer Science at the
              <a style ="color:black" href="https://en.wikipedia.org/wiki/University_of_Michigan">University of Michigan</a>. 
            You can find me in the LSA building, the Fishbowl, and if times are especially dire, the Bugli.
            </p>
            <p>
                Over this summer I will be a Software Engineer Intern at Amazon.
            </p>
            <p>
              I'm interested in theoretical ML, scientific simulation, economic policy, and experimenting with clothing design. 
            </p>
          </div>
      
        </div>
    </body>
</html>