<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <meta charset="utf-8">
        <title>{{ pdfdsf }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
        
    </head>
<body>  
    <div id = "header">
        <div id = "logo">
            <a href = "/index.html">GARV PATEL</a>
        </div>
        <div id = "navigation">  
            <a href="/blog.html" >Blog</a>
            <a href="/projects.html" >Projects</a>
            <a href="/contact.html" >Contact</a>
        </div>
    </div>   

    <div class="container1" style="display: flex;">           
        <div id="globe-container" style="width: 600px; height: 600px;"></div>    
        <div id="text-box" style="flex-grow: 1;">
            <p>Hello! I'm Garv.</p>
            <p>Currently studying Computer Science at the <a style="color: #eee" href="https://en.wikipedia.org/wiki/University_of_Michigan">University of Michigan</a>. </p> 
            <p>Interested in Scientific Machine learning, Parallel programming, and Weather modeling. </p>
            <p></p>
            <p></p>    
        </div>

 
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    
    <script>  

        let scene, camera, renderer, globe;
        function init(){
            scene = new THREE.Scene();


            const globeContainer = document.getElementById('globe-container');  
            const width = globeContainer.clientWidth;
            const height = globeContainer.clientHeight;

            renderer = new THREE.WebGLRenderer({antialias: true});
            renderer.setSize(width, height);
            globeContainer.appendChild(renderer.domElement);

            camera = new THREE.PerspectiveCamera(75, width / height, 0.1, 1000);
            camera.position.z = 5;
    
                document.getElementById('globe-container').appendChild(renderer.domElement);

            
            const sphere1 = new THREE.SphereGeometry(2, 32, 32);
            const textureLoader = new THREE.TextureLoader();
            const texture = textureLoader.load('image (1).png');

  
            //material = new THREE.MeshBasicMaterial({ color: 0xffffff, wireframe: true });

            const material = new THREE.MeshBasicMaterial({ map: texture });
        
            globe = new THREE.Mesh(sphere1, material);
            scene.add(globe);

            sphere2 = new THREE.SphereGeometry(2.02, 32, 25);
            material2 = new THREE.MeshBasicMaterial({ color: 0xffffff, wireframe: true });
            globe2   = new THREE.Mesh(sphere2, material2);
            scene.add(globe2);


    

            /*
            const axialTilt = 23.5 * Math.PI / 180; 
            globe.rotation.set(axialTilt, 0, 0);
            globe2.rotation.set(axialTilt, 0, 0);
            */
            animate();
        }
        function animate() {
            requestAnimationFrame(animate);
            
            globe.rotation.y += 0.005 ;
            globe2.rotation.y += 0.005 ;


      
            renderer.render(scene, camera);
        }

        
        document.addEventListener('DOMContentLoaded', init); 
    </script>



</body>
</html>
